dev-notes.md
.env
.env.test
.env.production

node_modules/
dist
.DS_Store
npm-debug.log
yarn-error.log

#backend
backend/.env
backend/node_modules/
backend/dist
backend/.DS_Store
backend/npm-debug.log
backend/yarn-error.log  
backend/coverage/
backend/uploads/
backend/temp/


#frontend
frontend/.env
frontend/node_modules/
frontend/dist
frontend/.DS_Store
frontend/npm-debug.log
frontend/yarn-error.log